.pic1{
    width:100px;
    height:100px;
    background:url(/HTML/image/beyonce.jpg);
    border-radius:50%
}

body{
    background-color: pink;
}

.pic2{
    background-color: palevioletred;
    height:300px;
}

.pic3{
    background:url(/HTML/image/shoe.jpg)fixed no-repeat center center;
    background-size:200px;
    height:300px;
}

.pic4{
    background:url(/HTML/image/beyonce.jpg);
    border-radius:10%;
    height:300px;
}

.pic5{
    background: rgb(63,220,251);
background: radial-gradient(circle, rgba(63,220,251,1) 0%, rgba(70,109,252,1) 100%);
height:300px;
}